<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Charles-CB/blob/main/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Lists & Tuples**

Los Tuples son secuencias ordenadas y se encuentran separadas por commas dentro de un parentesis. Se puede decir que es un tipo de variable en Python y puede almacenar diferentes tipos de datos como lo son string, int & float. Esto es parecido al Cluster que utilizamos en Labview.

In [2]:
Ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2)
type(Ratings)

tuple

In [5]:
tuple1 = ("disco", 10, 1.2)
print(tuple1)

('disco', 10, 1.2)

In [7]:
type(tuple1)

tuple

Las variables que contiene el Tuple también pueden ser accesadas o madarlas llamar a través de posiciones, justo como se muestra en el siguiente ejemplo.

In [11]:
print(tuple1[0]) #Mandamos imprimir la variable que se encuentra en la posición 1 del tuple

disco

In [16]:
tuple1[0]: "disco" #De esta forma accesamos al elemento "disco" que se encuentra dentro del tuple en la posición 0

En Python también podemos utilizar indices negativos, por ejemplo para el tuple1 iniciarian nuestros indices negativos de la siguiente forma: -3, -2, -1

In [19]:
tuple1[-3] #Aquí estamos mandando llamar el primer valor que se encuentra en el idice 0 de lado de los positivos.

'disco'

Concatenar o conbinar tupples, justo como lo haciamos con los strings cuando los concatenabamos usando un signo mas.

In [21]:
tuple2 = tuple1 + ("Hard Rock", 10)
print(tuple2)

('disco', 10, 1.2, 'Hard Rock', 10)

**Slicing tuples**

Podemos también rebanar, seccionar los tuples justo como lo haciamos con los strings, observe los siguiente ejemplos.

In [23]:
tuple2[0:3]

('disco', 10, 1.2)

In [27]:
tuple2[3:5] #El ultimo indice es mucho mas grande que el total de elementos del tuple dado el hecho que el ultimo no cuenta por ende debemos incrementarlo en uno mas.

('Hard Rock', 10)

In [29]:
len(tuple2) #También podemos utilizar el len command para saber el tamaño del tupple

5

Los tupples son inmutables por ende no pueden cambiar, observa el siguiente ejemplo.

In [36]:
Ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2)
Ratings1 = Ratings #No podemos hacer esto de que dos variables apunten a un solo tupple dado el caso de que los tuples son objetos inmutables

In [38]:
#Esto si sería correcto ya que estamos teniendo dos tupples diferentes
Ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2) #Este sería nuestro tupple 1
Rating1 = (10,9,4,5) #Este sería nuestro tupple 2

Como podemos ordenar un tupple?

In [40]:
RatingsSorted = sorted(Ratings)
RatingsSorted

[2, 5, 6, 6, 8, 9, 9, 10, 10]

Tuples dentro de Tuples es posible. Este es un tipo de variable mas compleja a lo que se le conoce como Nesting o anidado

In [43]:
NT = (1, 2, ("pop", "rock"), (3, 4), ("disco", (1, 2)))
NT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [55]:
NT[4][1][0] #Los indexados funcionan como un arbol primer vemos los ramales principales y despues los secundarios y terciarios. Entre mas ramas haya hay que poner mas corchetes

1

**Lists**
Este tipo de datos también es muy popular en Python. Las listas se encierran entre corchetes no entre parentesis como los tupples o nested datas. A diferencia de los tuples, las listas si son mutables.

In [57]:
L = ["Michael Jackson", 10.1, 1982] #Al parecer en las listas también se pueden guardar diferentes tipos de datos 
L

['Michael Jackson', 10.1, 1982]

In [66]:
NestList = ["Michael Jackson", 10.1, 1982, [1, 2], ("A",1)]
NestList[3][0]

1

Como acceder a un elemento de una lista

In [73]:
L[0]: 'Michael Jackson'

10.1

También podemos utilizar indices negativos, como lo veniamos haciendo con los tupples.

In [75]:
L[-3]

'Michael Jackson'

In [76]:
L[-2]

10.1

También podemos aplicar slicing en las listas. Si es que queremos mas de un solo valor. Vesase el ejemplo debajo.

In [79]:
L[0:3]

['Michael Jackson', 10.1, 1982]

También podemos concatenar las listas, justo como lo hacíamos con los tuples

In [80]:
L1 = L + ["pop", 10]
L1

['Michael Jackson', 10.1, 1982, 'pop', 10]

Las listas si son mutables por ende si podemos cambiarlas. En el sig ejemplo vamos agregar mas elementos a una lista en vez de crear una nueva.

In [86]:
L.extend(["rock", 100])
L

['Michael Jackson',
 10.1,
 1982,
 'pop',
 10,
 'pop',
 10,
 'rock',
 100,
 ['Regeton', 20],
 'rock',
 100]

In [85]:
L.append(["Regeton", 20])
L

['Michael Jackson',
 10.1,
 1982,
 'pop',
 10,
 'pop',
 10,
 'rock',
 100,
 ['Regeton', 20]]

Remplazar un elemento de una lista

In [99]:
A = ["Disco", 10, 1.2]

In [100]:
A[0]

'Disco'

In [101]:
A[0] = "Hard Rock"
A

['Hard Rock', 10, 1.2]

Eliminar un elemento de una lista.

In [103]:
del(A[0])
A

[1.2]

Convertir un string a una lista.

In [107]:
"Hard Rock".split()

['Hard', 'Rock']

Usar la funcíon split para separar caracteres delimitados por algo, example una comma.

In [109]:
"A, B, C, D".split(",")

['A', 'B', 'C', 'D']

Dado el hecho de que las listas si son mutable, en pocas palabras podemos decir que eso se llama Aliasing. Si apuntamos dos variables hacia el mismo objeto y desde cualquiera de esas variables realizamos un cambio. Este se verá reflejado en todas las variables que lo apunten.

In [118]:
Lista = ["Hard Rock", 10, 1.2] # Aqui creamos la lista

In [119]:
Lista1 = Lista #Igualamos ambas listas, las asignamos a un mismo objeto
Lista1

['Hard Rock', 10, 1.2]

In [120]:
Lista[0] = "Banana" #Cambiamos un valor de la lista desde ota variable. El cambio se verá reflejado en ambas.
Lista1

['Banana', 10, 1.2]

**Como clonar una lista**

In [122]:
Lista3 = ["Hard Rock", 10, 1.2]
Lista3

['Hard Rock', 10, 1.2]

In [124]:
Lista4 = Lista3[:] #Aqui estamos clonando la lista
Lista4

['Hard Rock', 10, 1.2]

Question 1

In [131]:
A=(0,1,2,3)
A[-1]

3

In [132]:
B=["a","b","c"]
B[1:]

['b', 'c']

# Sets