<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Charles-CB/blob/main/Module_2_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Sets en Python**
Los sets son un tipo de colección de datos por ende se pueden meter datos de diferentes tipos, int, float, string. A diferencia de las listas y tupples un set no tiene un indexado, solamente tienen una sola posición, y se declaran usando corchetes.

In [29]:
Set1 = {"Pop", "Rock", "Soul", "Hard Rock", "Rock", "R&B", "Rock", "Disco"} #Cuando se crea la lista los elementos duplicados no estarán presentes, ejemplo la palabra rock
Set1

{'Disco', 'Hard Rock', 'Pop', 'R&B', 'Rock', 'Soul'}

Como convertir una lista en un set

In [30]:
album_list = ["Michael Jackson", "Thriller", "Thriller", 1982]

In [31]:
album_set = set(album_list) #Aqui convertimos nuestra lista en un set, por ende los elementos duplicados se omitiran/eliminarán
album_set

{1982, 'Michael Jackson', 'Thriller'}

Como agregar o eliminar un elemento a un set

In [32]:
SetA = {"Thriller", "Back in Black", "AC/DC"} #Creamos el set

In [33]:
SetA.add("Limp Bizkit") #Agregamos un elemento a la lista. Si lo intentaramos agregar nuevamente nada pasaría ya que no poemos tener elementos repetidos en un set
SetA

{'AC/DC', 'Back in Black', 'Limp Bizkit', 'Thriller'}

In [34]:
SetA.remove("Limp Bizkit") #De esta forma vamos a eliminar el elemento del set
SetA

{'AC/DC', 'Back in Black', 'Thriller'}

Como verificar si un elemento se encuentra en el set

In [35]:
"Thriller" in SetA #De esta forma verificamos si un elmento se encuentra dentro de nuestro set

True

In [36]:
"Limp Bizkit" in SetA #De esta forma verificamos si un elemento se encuentra dentro de nuestro set

False

Como combinar dos sets. Esto es posible de hacer en Python

In [39]:
Album_set_1 = {"Thriller", "Back in Black", "AC/DC"}
Album_set_1

{'AC/DC', 'Back in Black', 'Thriller'}

In [44]:
Album_set_2 = {"Thriller", "Back in Black", "The Dark Side of the Moon"}
Album_set_2

{'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [51]:
Album_set_1 & Album_set_2 #De esta forma estaríamos combinando ambos de nuestros sets. Este nuevo set contendrá todos los elementos que se encuentren en amos sets

{'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Como combinar dos sets, y que pasa una vez que estos se combinan.
Cuando combinamos dos sets, solamente permaneceran los elementos que sean compartidos en ambos sets.

In [58]:
SetUno = {"Perro", "Aguila", "Pato"}
SetDos = {"Perro", "Aguila", "Pato", "Gallo"}

In [54]:
SetTres = SetUno & SetDos
SetTres

{'Aguila', 'Pato', 'Perro'}

In [60]:
SetUno.union(SetDos) # De esta forma encontramos la union de ambos sets por ende tendremos todos los elementos de ambos. Sin embargo los elementos repetidos seguirán siendo omitidos

{'Aguila', 'Gallo', 'Pato', 'Perro'}

Como checar si un set es un subset

In [62]:
SetTres.issubset(SetUno) #Aqui validamos si SetUno es un subset de SetTres

True

In [64]:
S={'A','B','C'}
U={'A','Z','C'}

In [66]:
S & U

{'A', 'C'}

**Ecnontrar la union de los sets**

In [68]:
S.union(U)

{'A', 'B', 'C', 'Z'}