<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Charles-CB/blob/main/Semana_1_Actividad_2_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Module 1 Python Basics**

**Actividad 1 Hello World**

In [ ]:
print("Hello Python 101")

Hello Python 101

In [1]:
print("Hello\nWorld!")

Hello
World!

**Different Data Types**

In [ ]:
type(11)

int

In [ ]:
type(21.21)

float

In [ ]:
type("Hello Python")

str

**Type Casting**

In [ ]:
float(2)

2.0

In [ ]:
int(1.1)

1

In [ ]:
int("1")

1

In [ ]:
 int("A") #Este debe mandar un error

ValueError: ignored

In [ ]:
str(1)

'1'

In [ ]:
str(4.5)

'4.5'

In [ ]:
type(True)

bool

In [ ]:
 bool(1)

True

In [2]:
bool(0)

False

**Operaciones Matematicas**

El orden estándar es el siguiente:
Paréntesis.

*   Parentesis
*   Exponentes
*   Multiplicación y División
*   Suma y Resta

In [3]:
#Suma
43 + 60 + 16 + 41

160

In [4]:
#Resta
50 - 60

-10

In [5]:
#Multiplicacion
5*5

25

In [6]:
#Division
25/5

5.0

In [7]:
#Division decimal
25/6

4.166666666666667

In [8]:
#División redondeada
25//6

4

In [9]:
#Orden de operaciónes
2 * 60 + 30

150

In [11]:
#Orden de operaciónes, primero se ejecuta la multiplicación, siempre sin importar el orden y despues la suma en este caso
30 + 2 * 60

150

In [12]:
#Los parentesis se ejecutan primero que todas las demas operaciones
(30 + 2) * 60

1920

**Variables**

Una variable nos sirve para guardar una cierta información.

In [15]:
x = 43 + 60 + 16 + 41
x

160

In [16]:
y = x / 60
y

2.6666666666666665

In [18]:
x = x / 60
x

0.04444444444444444

In [19]:
Total_min = 43 + 42 + 57
Total_min

142

In [21]:
Total_hrs = Total_min / 60
Total_hrs

2.3666666666666667

**String Operations**

In [23]:
name = "Michael Jackson "

Sacamos las letras de la cadena, las que van del 0 al 4

In [ ]:
name[0:4]

'Mich'

Slicing: Se le llama a cuando sacas mas de un dato. Sacamos las letras que van del 8 al 12.

In [ ]:
name[8:12]

'Jack'

Stride: Es cuando sacamos las letras cada dos posiciones, uno si uno no

In [ ]:
name[::2]

'McalJcsn'

Slicing & Stride: También podemos sacar cada dos valores hasta cierta posicion de la cadena en este caso hasta el cuatro.

In [24]:
name[0:5:2]

'Mca'

Sacamos el total de caracteres que tiene la cadena

In [ ]:
len("Michael Jackson ")

16

Agregamos o concatenamos cadenas de texto

In [ ]:
statement = name + " is the best"

In [ ]:
print(statement)

Michael Jackson is the best

**Tuples:** Se pueden multiplicar las cadenas de texto por # número de veces.

In [ ]:
print(name * 3)

Michael Jackson Michael Jackson Michael Jackson

In [ ]:
"Carlos Daniel " * 2

'Carlos Daniel Carlos Daniel '

Salto de linea dentro de una cadena

In [ ]:
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

Insertar una tabulación en una cadena

In [ ]:
print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

Agregar una slide dentro de una cadena

In [ ]:
print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

In [ ]:
print(r"Michael Jackson \ is the best") #También se puede agregando una r al principio de la cadena

Michael Jackson \ is the best

UPPER & LOWER Case: Convertir a Mayusculas y Minusculas una cadena

In [25]:
A = "Thriller is the sixth studio album"

In [26]:
B = A.upper()
print(B)

THRILLER IS THE SIXTH STUDIO ALBUM

Method. Remplazar una sección de la cadena por alguna otra

In [ ]:
A = "Michael Jackson is the best"
B = A.replace("Michael", "Janet")
print(B)

Janet Jackson is the best

String. Stride. Este metodo te ayuda a buscar una cadena dentro de otra y te regresa la posicion donde la encontró (la posición del primer caracter)

In [ ]:
name.find("Daniel") #Si la cadena no se encuentra dentro de la otra cadena, entonces nos arrojará un valor negativo -1

-1

Question 1

In [ ]:
Numbers = "0123456"
Numbers[::2]

'0246'

In [ ]:
"0123456".find('1')

1

In [ ]:
3 + 2 * 2

7

In [ ]:
name = 'Lizz'
print(name[0:2]) #Imprime solo Li porque el 2 no cuenta, entonces sería 0, 1 solamente

Li

In [ ]:
var = '01234567'
print(var[::2])

0246

In [ ]:
'1'+'2'

'12'

In [ ]:
myvar = 'hello'
myvar = myvar.upper()
print(myvar)

HELLO

# **Module 2 Python Data Structures**

**LIST & TUPLES**

Los Tuples son secuencias ordenadas y se encuentran separadas por commas dentro de un parentesis. Se puede decir que es un tipo de variable en Python y puede almacenar diferentes tipos de datos como lo son string, int & float. Esto es parecido al Cluster que utilizamos en Labview.

**Tuples**

In [ ]:
Ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2)
type(Ratings)

tuple

In [ ]:
tuple1 = ("disco", 10, 1.2)
print(tuple1)

('disco', 10, 1.2)

In [ ]:
type(tuple1)

tuple

Las variables que contiene el Tuple también pueden ser accesadas o madarlas llamar a través de posiciones, justo como se muestra en el siguiente ejemplo.

In [ ]:
print(tuple1[0]) #Mandamos imprimir la variable que se encuentra en la posición 1 del tuple

disco

In [ ]:
tuple1[0]: "disco" #De esta forma accesamos al elemento "disco" que se encuentra dentro del tuple en la posición 0

En Python también podemos utilizar indices negativos, por ejemplo para el tuple1 iniciarian nuestros indices negativos de la siguiente forma: -3, -2, -1

In [ ]:
tuple1[-3] #Aquí estamos mandando llamar el primer valor que se encuentra en el idice 0 de lado de los positivos.

'disco'

Concatenar o conbinar tupples, justo como lo haciamos con los strings cuando los concatenabamos usando un signo mas.

In [ ]:
tuple2 = tuple1 + ("Hard Rock", 10)
print(tuple2)

('disco', 10, 1.2, 'Hard Rock', 10)

**Slicing tuples:** Justo como en las listas también podemos aplicar slicing a los Tuples.

Podemos también rebanar, seccionar los tuples justo como lo haciamos con los strings, observe los siguiente ejemplos.

In [ ]:
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
tuple2[3:5] #El ultimo indice es mucho mas grande que el total de elementos del tuple dado el hecho que el ultimo no cuenta por ende debemos incrementarlo en uno mas.

('Hard Rock', 10)

In [ ]:
len(tuple2) #También podemos utilizar el len command para saber el tamaño del tupple

5

**Tuples Immutable:** 

Los tupples son inmutables por ende no pueden cambiar, observa el siguiente ejemplo.

In [ ]:
Ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2)
Ratings1 = Ratings #No podemos hacer esto de que dos variables apunten a un solo tupple dado el caso de que los tuples son objetos inmutables

In [ ]:
#Esto si sería correcto ya que estamos teniendo dos tupples diferentes
Ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2) #Este sería nuestro tupple 1
Rating1 = (10,9,4,5) #Este sería nuestro tupple 2

Como podemos ordenar un tupple?

In [ ]:
RatingsSorted = sorted(Ratings)
RatingsSorted

[2, 5, 6, 6, 8, 9, 9, 10, 10]

**Tuples Nesting**

Tuples dentro de Tuples es posible. Este es un tipo de variable mas compleja a lo que se le conoce como Nesting o anidado

In [ ]:
NT = (1, 2, ("pop", "rock"), (3, 4), ("disco", (1, 2)))
NT

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [ ]:
NT[4][1][0] #Los indexados funcionan como un arbol primer vemos los ramales principales y despues los secundarios y terciarios. Entre mas ramas haya hay que poner mas corchetes

1

**Lists**

Este tipo de datos también es muy popular en Python. Las listas se encierran entre corchetes no entre parentesis como los tupples o nested datas. A diferencia de los tuples, las listas si son mutables.

In [ ]:
 L = ["Michael Jackson", 10.1, 1982] #Al parecer en las listas también se pueden guardar diferentes tipos de datos 
L

['Michael Jackson', 10.1, 1982]

In [ ]:
NestList = ["Michael Jackson", 10.1, 1982, [1, 2], ("A",1)]
NestList[3][0]

1

Como acceder a un elemento de una lista

In [ ]:
L[0]: 'Michael Jackson'

10.1

También podemos utilizar indices negativos, como lo veniamos haciendo con los tupples.

In [ ]:
L[-3]

'Michael Jackson'

In [ ]:
L[-2]

10.1

**Lists Slicing**

También podemos aplicar slicing en las listas. Si es que queremos mas de un solo valor. Vesase el ejemplo debajo.

In [ ]:
L[0:3]

['Michael Jackson', 10.1, 1982]

También podemos concatenar las listas, justo como lo hacíamos con los tuples

In [ ]:
L1 = L + ["pop", 10]
L1

['Michael Jackson', 10.1, 1982, 'pop', 10]

Las listas si son mutables por ende si podemos cambiarlas. En el sig ejemplo vamos agregar mas elementos a una lista en vez de crear una nueva.

In [ ]:
L.extend(["rock", 100])
L

['Michael Jackson',
 10.1,
 1982,
 'pop',
 10,
 'pop',
 10,
 'rock',
 100,
 ['Regeton', 20],
 'rock',
 100]

In [ ]:
L.append(["Regeton", 20])
L

['Michael Jackson',
 10.1,
 1982,
 'pop',
 10,
 'pop',
 10,
 'rock',
 100,
 ['Regeton', 20]]

Remplazar un elemento de una lista

In [ ]:
A = ["Disco", 10, 1.2]

In [ ]:
A[0]

'Disco'

In [ ]:
A[0] = "Hard Rock"
A

['Hard Rock', 10, 1.2]

Eliminar un elemento de una lista.

In [ ]:
del(A[0])
A

[1.2]

**Convertir un string a una lista.**

A través del uso del metodo .split() podemos convertir una cadena en una lista.

In [ ]:
"Hard Rock".split()

['Hard', 'Rock']

Usar la funcíon split para covertir un string a una lista, usando una delimitación por una comma para este ejemplo. (separar caracteres delimitados por algo, example una comma.)

In [ ]:
"A, B, C, D".split(",")

['A', 'B', 'C', 'D']

Dado el hecho de que las listas si son mutable, en pocas palabras podemos decir que eso se llama Aliasing. Si apuntamos dos variables hacia el mismo objeto y desde cualquiera de esas variables realizamos un cambio. Este se verá reflejado en todas las variables que lo apunten.

In [ ]:
Lista = ["Hard Rock", 10, 1.2] # Aqui creamos la lista

In [ ]:
Lista1 = Lista #Igualamos ambas listas, las asignamos a un mismo objeto
Lista1

['Hard Rock', 10, 1.2]

In [ ]:
Lista[0] = "Banana" #Cambiamos un valor de la lista desde ota variable. El cambio se verá reflejado en ambas.
Lista1

['Banana', 10, 1.2]

**List Aliasing**

Dado el hecho que las listas si son inmutables, dos nombres (variables) pueden estar apuntando hacia un mismo objeto, y los cambios que hagas desde uno se verán reflejados en el otro. Así mismo del lado contrario.

In [30]:
ListaA = ["Hard Rock", 10, 1.2]
ListaB = ListaA
ListaB

['Hard Rock', 10, 1.2]

Como se observa en el siguiente ejemplo ambas listas contienen lo mismo (aliasing)

In [33]:
ListaB[0]

'Hard Rock'

In [34]:
ListaA[0]

'Hard Rock'

In [35]:
#Aquí editamos desde A el dato en el indice 0, y visualizamos en B que el cambio se ve reflejado.
ListaA[0] = "Banana"
ListaB

['Banana', 10, 1.2]

**List Clone**

Las listas se pueden clonar.

In [ ]:
Lista3 = ["Hard Rock", 10, 1.2]
Lista3

['Hard Rock', 10, 1.2]

In [ ]:
Lista4 = Lista3[:] #Aqui estamos clonando la lista
Lista4

['Hard Rock', 10, 1.2]

Question 1

In [ ]:
A=(0,1,2,3)
A[-1]

3

In [ ]:
B=["a","b","c"]
B[1:]

['b', 'c']

**SETS IN PYTHON**

Los sets son un tipo de colección de datos por ende se pueden meter datos de diferentes tipos, int, float, string. A diferencia de las listas y tupples un set no tiene un indexado, solamente tienen una sola posición, y se declaran usando corchetes.

**Creating a Set**

In [ ]:
Set1 = {"Pop", "Rock", "Soul", "Hard Rock", "Rock", "R&B", "Rock", "Disco"} #Cuando se crea la lista los elementos duplicados no estarán presentes, ejemplo la palabra rock
Set1

{'Disco', 'Hard Rock', 'Pop', 'R&B', 'Rock', 'Soul'}

**Set operations**

Como convertir una lista en un set

In [ ]:
album_list = ["Michael Jackson", "Thriller", "Thriller", 1982]

In [ ]:
album_set = set(album_list) #Aqui convertimos nuestra lista en un set, por ende los elementos duplicados se omitiran/eliminarán
album_set

{1982, 'Michael Jackson', 'Thriller'}

Como agregar o eliminar un elemento a un set

In [ ]:
SetA = {"Thriller", "Back in Black", "AC/DC"} #Creamos el set

In [ ]:
SetA.add("Limp Bizkit") #Agregamos un elemento a la lista. Si lo intentaramos agregar nuevamente nada pasaría ya que no poemos tener elementos repetidos en un set
SetA

{'AC/DC', 'Back in Black', 'Limp Bizkit', 'Thriller'}

In [ ]:
SetA.remove("Limp Bizkit") #De esta forma vamos a eliminar el elemento del set
SetA

{'AC/DC', 'Back in Black', 'Thriller'}

Como verificar si un elemento se encuentra en el set

In [ ]:
"Thriller" in SetA #De esta forma verificamos si un elmento se encuentra dentro de nuestro set

True

In [ ]:
"Limp Bizkit" in SetA #De esta forma verificamos si un elemento se encuentra dentro de nuestro set

False

Como combinar dos sets. Esto es posible de hacer en Python

In [ ]:
Album_set_1 = {"Thriller", "Back in Black", "AC/DC"}
Album_set_1

{'AC/DC', 'Back in Black', 'Thriller'}

In [ ]:
Album_set_2 = {"Thriller", "Back in Black", "The Dark Side of the Moon"}
Album_set_2

{'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

**Set. Mathematical Operations**

In [ ]:
Album_set_1 & Album_set_2 #De esta forma estaríamos combinando ambos de nuestros sets. Este nuevo set contendrá todos los elementos que se encuentren en amos sets

{'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

Como combinar dos sets, y que pasa una vez que estos se combinan.
Cuando combinamos dos sets, solamente permaneceran los elementos que sean compartidos en ambos sets.

In [ ]:
SetUno = {"Perro", "Aguila", "Pato"}
SetDos = {"Perro", "Aguila", "Pato", "Gallo"}

In [ ]:
SetTres = SetUno & SetDos
SetTres

{'Aguila', 'Pato', 'Perro'}

In [ ]:
SetUno.union(SetDos) # De esta forma encontramos la union de ambos sets por ende tendremos todos los elementos de ambos. Sin embargo los elementos repetidos seguirán siendo omitidos

{'Aguila', 'Gallo', 'Pato', 'Perro'}

Como checar si un set es un subset

In [ ]:
SetTres.issubset(SetUno) #Aqui validamos si SetUno es un subset de SetTres

True

In [ ]:
S={'A','B','C'}
U={'A','Z','C'}

In [ ]:
S & U

{'A', 'C'}

Encontrar la union de los sets

In [ ]:
S.union(U)

{'A', 'B', 'C', 'Z'}

**DICCIONARIOS**


Los diccionarios en Python, son como una especie de lista, estos también guardan diferentes valores en diferentes posiciones con un index, a diferencia de ese index que se tienen en las listas, los diccionarios tienen algo equivalente a lo que se le llama "Key" cada una de ellas tiene un valor asignado y asi se puede accesar al valor, a través de la key.

In [ ]:
DIC = {"Animal1": 'Perro', "Animal2": 'gato', "Animal3":'Perico', "Animal4":'Ballena'} #Declaramos el diciconario las "key" serían Animal1, Animal2...

In [ ]:
DIC["Animal3"] #Sacamos el valor que tiene la llave "Animal3"

'Perico'

**Como agregar un nuevo valor al diccionario**

In [ ]:
DIC["Animal5"] = 'Aguila'
DIC["Animal5"]

'Aguila'

**Como eliminar un valor del diccionario**

In [ ]:
del(DIC["Animal5"]) #Aqui eliminamos el valor que tiene la llave "Animal5"

In [ ]:
DIC["Animal5"] #Aqui obtendremos un error dado que ese valor ya fue eliminado en la linea anterior

KeyError: ignored

**Como buscar un elemento en un diccionario**

In [ ]:
"Animal2" in DIC #Aqui buscamos la llave Animal 2, para ver si esta dentro del diccionario

True

In [ ]:
"Animal5" in DIC #Aquí obtendremos False ya que ese valor ya fue borrado

False

**Como ver todas las llaves que tiene el dicionario**

In [ ]:
DIC.keys()

dict_keys(['Animal1', 'Animal2', 'Animal3', 'Animal4'])

**Como ver todos los valores que tiene el diccionario**

In [ ]:
DIC.values()

dict_values(['Perro', 'gato', 'Perico', 'Ballena'])

**Quiz**

In [ ]:
Lista = ["a", "b", "c"]
Lista

['a', 'b', 'c']

In [ ]:
Lista.append(["c","d"])
Lista

['a', 'b', 'c', ['c', 'd']]